body {
  color: #f1f2f3;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #121212;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ol {
  display: flex;
  max-width: 500px;
  border-radius: 20px;
  align-content: center;
  margin: auto;
  justify-content: center;
  background-color: #1f1b24;
}
li {
  list-style-type: none;
  margin: 10px;
}
a {
  text-decoration: none;
  color: cyan;
}
